body{
    background-color: #7fbce4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
height: 50px;
background-color: rgb(65, 118, 191);
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 20px;
}
.tab{
    width: 500px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;

}
.div {
    height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-C_UAhXq9GfuGO452EEzfbKnh1viQB9EDBQ&s");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Technical-Team{
   
    
    margin-top: 100px;
    margin-left: 45%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:100%;
    width: 100%;
}
.first{
    background-color: #c8c3c3;
    width: 300px;
    height:300px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 50px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow:  10px 10px rgba(0, 0, 0, 0.5);
   
}
.image{
    width:100px;
    height:100px;
    border-radius: 50%;
   
    clip-path: circle(50%);
    background-color: #7a7d7b;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}